<mtapp:setting
   id="mfa-totp-token"
   label="<__trans phrase="Security token">"
   label_for="mfa-totp-token"
   label_class="top-label form-group"
   hint="<__trans phrase="Enter the 6-digit security token displayed on your authentication device.">"
   show_hint="1"
   >
  <input type="text" name="mfa_totp_token" id="mfa-totp-token" class="form-control text full" required />
</mtapp:setting>
